html,
body {
  height: 100%;
}

// Body & locked

body {
  font-family: $fontMain;
  font-weight: 400;
  background: #000;

  &.locked {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// Container

.container {
  max-width: ($containerWidth + $containerPadding) + px;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1400) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint1200) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint576) {
    max-width: 530px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// buttons

.btn {
  padding: 14px 30px;
  border: transparent;
  display: block;

  margin-left: auto;
  font-weight: 800;
  line-height: 1.1;
  background-color: rgb(212, 159, 12);
  color: #fff;
  text-align: center;
  border-radius: 0 5px 0 5px;

  text-decoration: none;

  &:hover {
    background-color: darken(rgb(212, 159, 12), 8%);
    transition: 0.3s;
  }
}

// bread-crumb

.bread-crumb {
  margin-top: 25px;
  &__list {
    display: flex;
    background: #414447;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 400;
    border-radius: 5px;
  }
  &__list-item {
  }

  &__list-item:not(:last-child) {
    margin-right: 20px;
    position: relative;
    // color: ;

    &::after {
      content: "/";
      position: absolute;
      right: -10px;
      transform: translateX(50%);
    }
  }
  &__list-item--active {
    color: #fff;
    text-decoration: none;
  }

  a {
    color: inherit;
  }
}
.container {
}
