.header {
    background: #202328;

    // position: fixed;
    // left: 0;
    // right: 0;
    // top: 0;
    // z-index: 99;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    z-index: 21;

    &__link {
        color: rgb(255, 186, 0);
        font-family: "Roboto", sans-serif;
        font-size: 24px;
    }
}

.menu {
    display: flex;
    // gap: 10px;

    &__item {
        display: flex;
        position: relative;
        padding: 8px 15px;
        border-radius: 0 5px 0 5px;

        &:hover {
            background: rgb(212, 159, 12);
            transition: 0.2s all;
        }
    }

    &__item-link {
        color: #fff;
        font-size: 16px;
        line-height: 1.1;
        font-weight: 500;
        display: flex;
        position: relative;
        transition: 0.5s color;

        &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;
        }

        &hover {
            color: #131418;

            &::after {
                transform: scale(1);
            }
        }

        @media (max-width: $breakpoint992) {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .dropdown-list {
        position: relative;
        z-index: 20;

        @media (min-width: $breakpoint992) {
            padding-right: 35px;
            border-radius: 0 5px 0 0;

            &::after {
                position: absolute;
                content: "";
                top: 15px;
                right: 10px;
                height: 2px;
                width: 10px;
                background: #fff;
                transform: rotate(-45deg);
            }

            &::before {
                position: absolute;
                content: "";
                top: 15px;
                right: 16px;
                height: 2px;
                width: 10px;
                background: #fff;
                transform: rotate(45deg);
            }

            &:hover {
                .dropdown-list__items {
                    display: block;
                }
            }
        }

        &__items {
            display: none;

            bottom: 0px;
            left: 0px;
            transform: translateY(100%);
            position: absolute;
            background: #3c3f46;
            width: 210px;
            padding: 25px 15px;
            border-radius: 0 0 10px 10px;
            transition: 2s ease all;
        }

        &__item {
            padding: 5px 3px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        &__link {
            color: #fff;

            &:hover {
                color: rgb(255, 186, 0);
                text-decoration: underline;
                transition: 0.2s all;
            }
        }
    }

    &__item-contacts {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 15px;

        @media (min-width: $breakpoint992) {
            display: none;
        }
    }
    &__item-tell {
        font-family: "Roboto", sans-serif;
        font-size: 26px;
        line-height: 1.6;
        font-weight: 300;
        color: #fff;
    }
    &__item-btn {
    }

    //Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: #133;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vh;
        display: none;
        z-index: 20;

        &.active {
            display: flex;
            left: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            animation: fade 0.1s linear;
        }
    }
}

//Burger style
.burger {
    display: none;
    background: transparent;
    z-index: 20;

    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &::before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                bottom: 10px;
            }

            & span {
                transform: scale(0);
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}

.welcom {
}

.post {
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.thumb-wrap {
    iframe {
        height: 680px;
        width: 1200px;
    }
}
