// Container & Breakpoints
@use "sass:math";
$containerWidth: 1200;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors

$color-primary: #000;
$color-accent: rgb(255, 186, 0);;
// $color-secondary: #000;
// $color-success: #000;
// $color-info: #000;
// $color-warning: #000;
// $color-danger: #000;
// $color-light: #000;
// $color-dark: #000;

// $color-title: ;
// $color-text:

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: rgb(255, 186, 0);
$burgerActiveColor: #fefefe;

// Fonts

// $fontMain: "Raleway", sans-serif;
$fontMain: "Roboto", sans-serif;

// $fontSecondary: "";
