.page-coaches {
    padding: 50px 0;

    &__title {
    }

    &__filter {
        max-width: 500px;
        width: 100%;
        margin: 20px auto 40px;
    }
    &__filter-items {
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color-bg-dark-300;
        padding: 15px 50px;

        @media (max-width: $breakpoint576) {
            padding: 15px 20px;
        }
    }
    &__filter-item {
        cursor: pointer;
        padding: 5px 20px;
        // border-radius: 0 5px;
        border: transparent;
        font-weight: 500;
        transition: 0.3s all ease;
        overflow: hidden;

        @media (max-width: $breakpoint576) {
            font-size: 14px;
            padding: 5px 15px;
        }
    }

    &__filter-item--active {
        background: $color-accent;
        color: $color-text-secondary;
        
    }

    &__items {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;

        @media (max-width: $breakpoint1200) {
            justify-content: center;
        }
    }
    &__item {
        max-width: 360px;
        width: 100%;
        border-radius: 15px;
        color: inherit;
    }

    &__item:not(:last-child) {
       
        cursor: pointer;
        
        background: $color-bg-dark-300;

        
        border-radius: 10px;
        transition: 0.5s all ease;
        &:hover {
            box-shadow: 0px 5px 10px 6px #9191914b;
            border-color: transparent;
            transition: 0.5s all ease;
        }
    }

    &__item:hover {
        h3 {
            text-decoration: underline;
        }
    }

    &__item-wrapper {
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__item-img {
        max-width: 300px;
        height: 400px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;

        @media (max-width: $breakpoint480) {
            max-width: 200px;
            height: 280px;
            width: 100%;
        }
    }
    &__item-name {
        margin-top: 15px;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.2;
    }
}

// USER PAGE

.coaches-user {
    padding: 40px 0;

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
    }
    &__img {
        margin-top: 30px;
        height: 500px;
        max-width: 400px;
        width: 100%;
        object-fit: cover;
    }
    &__list {
        margin: 20px auto 0;
        max-width: 700px;
        width: 100%;
    }
    &__list-title {
        font-size: 18px;
        text-align: center;
    }
    &__text-link {
        display: flex;
        justify-content: center;
        font-size: 16px;
        // margin-bottom: 60px;
        color: inherit;
        margin-top: 5px;
        &:not(:first-child) {
            margin-bottom: 50px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
    &__text {
        position: relative;
        font-size: 16px;
        line-height: 1.1;
        margin-top: 8px;

        &::after {
            position: absolute;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: $color-accent;
            top: 50%;
            left: -10px;
            transform: translate(-50%, -50%);
        }
    }

    &__img-items {
        margin: 30px 0;
        padding: 30px 0;
        // border-top: 1px solid $color-accent;

        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    &__img-item {
        max-width: 300px;
        width: 100%;
        // height: 400px;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.coach-news {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;

    &__title {
        font-size: 18px;
        line-height: 1.2;
    }
    &__items {
    }
    &__item {
        margin-top: 6px;
        display: flex;
    }
    &__link {
        color: inherit;
        font-size: 16px;
        font-weight: 400;
        margin-right: 3px;

        &:hover {
            color: $color-accent;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
    }
}
