footer {
    color: rgb(255, 186, 0);
  


    border: rgba(255, 255, 255, 0.25);

    background: rgb(212, 159, 12);

    background: #131418;
    color: #202328;

    background: #fff;
    background-color: #2d3038;
    background: #fff;
    color: #fff;
    background: #133;

    background: rgb(247, 216, 216);
    background: rgb(212, 159, 12);
    background: #f88400;
}
