.sub-head {
    // padding-bottom: 50px;

    // background: #2d3038;
    position: relative;
    // z-index: -1;
    // padding: 30px 0 30px;
    padding: 15px 0 15px;

    &__slider {
        max-width: 100%;
        // size: unset;
    }

    .swiper-pagination__wrapper {
        position: relative;

        display: inline-block;
        min-width: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        top: 0;
    }
    .swiper-pagination {
        border-radius: 6px;
        position: absolute;

        background: rgba($color-bg-dark-500, 0.9);
        padding: 6px 10px;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        line-height: 8px;
        font-size: 8px;
        background: $color-accent;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        width: 13px;
        height: 13px;
        line-height: 13px;
        font-size: 13px;
        background: $color-accent;
        opacity: 1;
    }
}
.swiper {
}
.swiper-wrapper {
}

.swiper-slide {
    img {
        object-fit: cover;
        width: 100%;
        height: 470px;

        @media (max-width: $breakpoint992) {
            height: 400px;
        }

        @media (max-width: $breakpoint768) {
            height: 300px;
        }

        @media (max-width: $breakpoint480) {
            height: 250px;
        }
    }
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 10px;

    @media (max-width: $breakpoint480) {
        flex-wrap: wrap;
        // padding: 0 10px;
        width: 100%;
        gap: 20px 10px;
        padding: 5px 15px;
    }

    li {
        display: flex;
        align-items: center;
    }
    li.slick-active {
        button {
            background-color: #f88500;
        }
    }

    button {
        cursor: pointer;
        border: transparent;
        height: 5px;
        width: 25px;
        background-color: #e4e6e8;
        border-radius: 0 5px;
        font-size: 0;
    }
}




    